{% extends 'base.html.twig' %}

{% block content %}

	<div class="home green rounded">
		<h1>Hello
			{{title}}</h1>
	</div>

	<div class="grid__dashboard">
		<h2>Analytics Overview</h2>
		<div class="grid__dashboard__normal rounded" id="violet">
			<div class="grid__dashboard__normal__infos">
				<span>Users</span>
				<svg xmlns="http://www.w3.org/2000/svg" class="ion-icon" viewbox="0 0 512 512">
					<path fill="#202024" d="M258.9 48C141.92 46.42 46.42 141.92 48 258.9c1.56 112.19 92.91 203.54 205.1 205.1 117 1.6 212.48-93.9 210.88-210.88C462.44 140.91 371.09 49.56 258.9 48zm126.42 327.25a4 4 0 01-6.14-.32 124.27 124.27 0 00-32.35-29.59C321.37 329 289.11 320 256 320s-65.37 9-90.83 25.34a124.24 124.24 0 00-32.35 29.58 4 4 0 01-6.14.32A175.32 175.32 0 0180 259c-1.63-97.31 78.22-178.76 175.57-179S432 158.81 432 256a175.32 175.32 0 01-46.68 119.25z"/>
					<path fill="#202024" d="M256 144c-19.72 0-37.55 7.39-50.22 20.82s-19 32-17.57 51.93C191.11 256 221.52 288 256 288s64.83-32 67.79-71.24c1.48-19.74-4.8-38.14-17.68-51.82C293.39 151.44 275.59 144 256 144z"/>
				</svg>
			</div>
			<div class="grid__dashboard__normal__details">
				<span>{{allUsers|join}}</span>
			</div>
		</div>
		<div class="grid__dashboard__tall rounded" id="blue">
			<div class="grid__dashboard__normal__infos">
				<span>Products</span>
				<svg xmlns="http://www.w3.org/2000/svg" class="ion-icon" viewbox="0 0 512 512"><path fill="none" stroke="#202024" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M160 144h288M160 256h288M160 368h288"/><circle cx="80" cy="144" r="16" fill="none" stroke="#202024" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><circle cx="80" cy="256" r="16" fill="none" stroke="#202024" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><circle cx="80" cy="368" r="16" fill="none" stroke="#202024" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
			</div>
			<div class="grid__dashboard__normal__details">
				<span>{{allProducts|join}}</span>
			</div>
		</div>
		<div class="grid__dashboard__normal rounded" id="yellow1">
			<div class="grid__dashboard__normal__infos">
				<span>Users</span>
				<svg xmlns="http://www.w3.org/2000/svg" class="ion-icon" viewbox="0 0 512 512">
					<path fill="#202024" d="M258.9 48C141.92 46.42 46.42 141.92 48 258.9c1.56 112.19 92.91 203.54 205.1 205.1 117 1.6 212.48-93.9 210.88-210.88C462.44 140.91 371.09 49.56 258.9 48zm126.42 327.25a4 4 0 01-6.14-.32 124.27 124.27 0 00-32.35-29.59C321.37 329 289.11 320 256 320s-65.37 9-90.83 25.34a124.24 124.24 0 00-32.35 29.58 4 4 0 01-6.14.32A175.32 175.32 0 0180 259c-1.63-97.31 78.22-178.76 175.57-179S432 158.81 432 256a175.32 175.32 0 01-46.68 119.25z"/>
					<path fill="#202024" d="M256 144c-19.72 0-37.55 7.39-50.22 20.82s-19 32-17.57 51.93C191.11 256 221.52 288 256 288s64.83-32 67.79-71.24c1.48-19.74-4.8-38.14-17.68-51.82C293.39 151.44 275.59 144 256 144z"/>
				</svg>
			</div>
			<div class="grid__dashboard__normal__details">
				<span>{{allUsers|join}}</span>
			</div>
		</div>
		<div class="grid__dashboard__tall rounded" id="salmon">
			<div class="grid__dashboard__normal__infos">
				<span>Products</span>
				<svg xmlns="http://www.w3.org/2000/svg" class="ion-icon" viewBox="0 0 512 512"><path fill="none" stroke="#202024" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M160 144h288M160 256h288M160 368h288"/><circle cx="80" cy="144" r="16" fill="none" stroke="#202024" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><circle cx="80" cy="256" r="16" fill="none" stroke="#202024" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><circle cx="80" cy="368" r="16" fill="none" stroke="#202024" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
			</div>
			<div class="grid__dashboard__normal__details">
				<span>{{allProducts|join}}</span>
			</div>
		</div>
		<div class="grid__dashboard__normal rounded" id="yellow2">
			<div class="grid__dashboard__normal__infos">
				<span>Users</span>
				<svg xmlns="http://www.w3.org/2000/svg" class="ion-icon" viewbox="0 0 512 512">
					<path fill="#202024" d="M258.9 48C141.92 46.42 46.42 141.92 48 258.9c1.56 112.19 92.91 203.54 205.1 205.1 117 1.6 212.48-93.9 210.88-210.88C462.44 140.91 371.09 49.56 258.9 48zm126.42 327.25a4 4 0 01-6.14-.32 124.27 124.27 0 00-32.35-29.59C321.37 329 289.11 320 256 320s-65.37 9-90.83 25.34a124.24 124.24 0 00-32.35 29.58 4 4 0 01-6.14.32A175.32 175.32 0 0180 259c-1.63-97.31 78.22-178.76 175.57-179S432 158.81 432 256a175.32 175.32 0 01-46.68 119.25z"/>
					<path fill="#202024" d="M256 144c-19.72 0-37.55 7.39-50.22 20.82s-19 32-17.57 51.93C191.11 256 221.52 288 256 288s64.83-32 67.79-71.24c1.48-19.74-4.8-38.14-17.68-51.82C293.39 151.44 275.59 144 256 144z"/>
				</svg>
			</div>
			<div class="grid__dashboard__normal__details">
				<span>{{allUsers|join}}</span>
			</div>
		</div>
		<div class="grid__dashboard__normal rounded green">
			<div class="grid__dashboard__normal__infos">
				<span>Users</span>
				<svg xmlns="http://www.w3.org/2000/svg" class="ion-icon" viewbox="0 0 512 512">
					<path fill="#202024" d="M258.9 48C141.92 46.42 46.42 141.92 48 258.9c1.56 112.19 92.91 203.54 205.1 205.1 117 1.6 212.48-93.9 210.88-210.88C462.44 140.91 371.09 49.56 258.9 48zm126.42 327.25a4 4 0 01-6.14-.32 124.27 124.27 0 00-32.35-29.59C321.37 329 289.11 320 256 320s-65.37 9-90.83 25.34a124.24 124.24 0 00-32.35 29.58 4 4 0 01-6.14.32A175.32 175.32 0 0180 259c-1.63-97.31 78.22-178.76 175.57-179S432 158.81 432 256a175.32 175.32 0 01-46.68 119.25z"/>
					<path fill="#202024" d="M256 144c-19.72 0-37.55 7.39-50.22 20.82s-19 32-17.57 51.93C191.11 256 221.52 288 256 288s64.83-32 67.79-71.24c1.48-19.74-4.8-38.14-17.68-51.82C293.39 151.44 275.59 144 256 144z"/>
				</svg>
			</div>
			<div class="grid__dashboard__normal__details">
				<span>{{allUsers|join}}</span>
			</div>
		</div>
	</div>

{% endblock %}

