{% extends 'base.html.twig' %}

{% block headerTitle %}
	<div class="header header__title">
		<h1>
			{{title}}
		</h1>
		<button>
			{{button}}
		</button>
	</div>

{% endblock %}

{% block content %}
	<div class="grid">
		{% for user in users %}
			<div class="card">
				<div class="card__body">
					<h3>{{user.first_name}} {{user.last_name}}</h3>
					<div class="card__body__content">
						<div class="card__body__content__infos">
							<span>Email :
								{{user.email}}
							</span>
							<span>Credits :
								{{user.credits}}€
                            </span>
						</div>
						<img class="ion-icon" src="./assets/svg/create-outline.svg" alt="modify">
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}